.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html{

}
body{
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  margin: auto;
}

a {
  color: #0a4a5c;
  margin: 20px;
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
